@import "~ant-design-vue/dist/antd.less"; // 引入官方提供的 less 样式入口文件
@import "./theme.less"; // 用于覆盖上面定义的变量

.info-text {
  color: @primary-color;
  font-size: @font-size-middle;
}

.important-text {
  color: @error-color;
  font-size: @font-size-middle;
}

.header-text {
  color: @heading-color;
  font-size: @font-size-small;
}

.click-able {
  cursor: pointer;
}

.form-icon {
  height: 40px;
  line-height: 40px;
}

.info-title {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}

.commit-btns {
  margin-top: 20px;
  text-align: center;
}
.commit-btn {
  width: 100px;
}

.search-btns {
  text-align: end;
}

.reset-style {
  margin: 0;
  padding: 0;
}
